.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 80px;
  gap: 168px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .home {
  }
}

.main {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
