.button {
  --button-primary-hover: #383838;

  height: 48px;
  width: 100%;
  border-radius: 6px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);


  font-size: 18px;
  color: var(--foreground);
}

.button:hover {
  background-color: var(--button-primary-hover);
}

@media (prefers-color-scheme: dark) {
  .button {
    --button-primary-hover: #ccc;

    background-color: var(--foreground);
    color: var(--background);
  }

  .button:hover {
    background-color: var(--button-primary-hover);
  }
}

.button:disabled {
  cursor: not-allowed;
}
