.rides {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 80px;
  font-family: var(--font-geist-sans);
}

.main {
  max-width: 400px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  overflow: scroll;
}
